.floating-dots-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.dot {
    position: absolute;
    opacity: 30%;
    width: 10px;
    height: 10px;
    background-color: #3d005f;
    border-radius: 50%;
    transition: transform 5s ease-out;
}

.dot:hover {
    transform: scale(1.5);
}